                        <form action="" method="POST" novalidate>
                            {% csrf_token %}
                            {% if form %}
                                {% for fm in form %}
                                    {{fm.non_field_error}}
                                {% endfor %}
                            {% endif %}
                            {% if messages %}
                                {% for ms in messages %}
                                    <h4 class="alert alert-info">{{ms}}</h4>
                                {% endfor %}
                            {% endif %}
                             <div class="container">
                                <dir class="row">
                                    <div class="col-sm-6">
                                        <div class="">
                                            {{form.user.label_tag}}
                                            {{form.user}}
                                            <p class="text-danger h6">{{form.user.errors|striptags}}</p>
                                        </div> 
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="">
                                            {{form.month.label_tag}}
                                            {{form.month}}
                                            <p class="text-danger h6">{{form.month.errors|striptags}}</p>
                                        </div> <br>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="">
                                            {{form.set_date.label_tag}}
                                            {{form.set_date}}
                                            <p class="text-danger h6">{{form.set_date.errors|striptags}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="">
                                            {{form.set_time.label_tag}}
                                            {{form.set_time}}
                                            <p class="text-danger h6">{{form.set_time.errors|striptags}}</p>
                                        </div> <br>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="">
                                            {{form.ex_date.label_tag}}
                                            {{form.ex_date}}
                                            <p class="text-danger h6">{{form.ex_date.errors|striptags}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="">
                                            {{form.ex_time.label_tag}}
                                            {{form.ex_time}}
                                            <p class="text-danger h6">{{form.ex_time.errors|striptags}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Permission</button>
                        </form>