{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="alert alert-info text-center">
        Give Feedback To {{request.user}}
      </h1>
      <div class="row">
        <!--###########################################-->
        <div class="col-sm-12">
     
        <div class="card mb-3" style="max-width: 1400px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{% static 'client/img/feed.jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Fill Up Form</h5>
                <hr>
                <form action="" method="POST" novalidate>
                  {% csrf_token %}
                  {% if form %}
                    {% for fm in form %}
                      {{fm.non_field_error}}
                    {% endfor %}
                  {% endif %}
                  {% if messages %}
                    {% for mess in messages %}
                      <h3 class="alert alert-success text-center">{{mess}}</h3>
                    {% endfor %}
                  {% endif %}
                  <div>
                    {{form.name.label_tag}}
                    {{form.name}}
                    <p class="text-danger">
                      {{form.name.errors|striptags}}
                    </p>
                  </div>
                  <div>
                    {{form.phone.label_tag}}
                    {{form.phone}}
                    <p class="text-danger">
                      {{form.phone.errors|striptags}}
                    </p>
                  </div>                  <div>
                    {{form.feed.label_tag}}
                    {{form.feed}}
                    <p class="text-danger">
                      {{form.feed.errors|striptags}}
                    </p>
                  </div>
                  <button type="submit" class="btn btn-primary">Send Feedback</button>
                </form>
                {% comment %} <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> {% endcomment %}
                {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
 
        </div>
        <!--###########################################-->
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>