{% extends "client/layout.html" %}

{% block little %}

{% endblock little %}

{% block side_little %}
{% endblock side_little %}

{% block table %}
<div class="card-header">
    <h3>Salary Data Records...</h3>
    <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% if stff %}
                {% for st in stff %}
                <tr class="h6 text-dark">
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{st.name}}</td>
                  <td>{{st.phone}}</td>
                  <td>{{st.email}}</td>
                  <td><a href="{% url 'get_salary' st.name %}">View Salary</a></td>
                </tr>
                {% endfor %}
            {% else %}
                <h3 class="text-center text-danger">Data Does Not Exist</h3>
            {% endif %}
        </tbody>
      </table>
    </div>
</div>
{% endblock table %}

{% block cardfeatur %}
<div class="card-header">
</div>
{% endblock cardfeatur %}

{% block visitors  %}

{% endblock visitors  %}

{% block last_one %}
{% endblock last_one %}

{% block last_two %}
{% endblock last_two %}
