{% extends "client/layout.html" %}
{% load static %}

{% block little %}

{% endblock little %}

{% block side_little %}
{% endblock side_little %}

{% block table %}
<div class="card-header">
    <h3 class="text-center"> <span class="text-success">{{name}}</span> Last Month Timing....</h3>
<div class="card-header">
    <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered h6 text-dark">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Date</th>
            <th scope="col">In Time</th>
            <th scope="col">Out Time</th>
          </tr>
        </thead>
        <tbody>
            {% if data %}
                {% for dt in data %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{dt.in_date}}</td>
                  <td>{{dt.in_time}}</td>
                  {% if dt.out_time == dt.in_time %}
                    <td>{{dt.out_time}}</td>
                  {% else %}
                    <td class="text-danger">Not Updated</td>
                  {% endif %}
                </tr>
                {% endfor %}
            {% else %}
                <center>
                  <img src="{% static 'client/img/product-list.png' %}" class="img-fluid" alt="data not found" srcset="">
                </center>
                <h3 class="text-center text-danger">Data Not Found..!</h3>
            {% endif %}
      
        </tbody>
      </table>
    </div>
</div>
</div>
{% endblock table %}

{% block cardfeatur %}
<div class="card-header">
 
</div>
{% endblock cardfeatur %}

{% block visitors  %}

{% endblock visitors  %}

{% block last_one %}
{% endblock last_one %}

{% block last_two %}
{% endblock last_two %}


{% block chart %}
{% endblock chart %}
