{% extends "client/layout.html" %}
{% load static %}
{% block little %}
    
{% endblock little %}

{% block table %}
    <div class="card-header">
        <h4 class="float-end">{% now "D, d M Y" %}</h4>
        <h4>Update Your Staff <span><small style="color:blue;"><p id="demo"></p></small></span> </h4>
        <p class="text-danger font-bold">Note: after update your staff data it will update everywhere in your System..!</p>
        <hr>
    </div>
    <div class="card-body card-rounded">
        <form action="" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% if form %}
                {% for fm in form %}
                    {{fm.non_field_error}}
                {% endfor %}
            {% endif %}
            {% if messages %}
                {% for mes in messages %}
                    <h5 class="alert alert-info text-center">{{mes}}</h5>
                {% endfor %}
            {% endif %} 
            {{form.as_p}}
            <button type="submit" class="btn btn-info">update staff</button> 
        </form>
    </div>
{% endblock table %}

{% block last_one %}
{% endblock last_one %}

{% block last_two %}
{% endblock last_two %}

{% block side_little %}
<div class="card-header">
    {% if data.profile %}
        <h3 class="text-center mb-1">{{data.name}}</h3>
        <img src="{{data.profile.url}}" alt="Profile" class="img-fluid" srcset="">
    {% else %}
        <center>
            <i class="fas fa-user-circle" style="font-size:150px;"></i>
        </center>
    {% endif %}     
</div>
{% endblock side_little %}

{% block cardfeatur %}
    <h2>dipesh Parmar</h2>
{% endblock cardfeatur %}

{% block visitors %}
    <h3>dipesh Parmar</h3>
{% endblock visitors %}

{% block chart %}
{% endblock chart %}